In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests

In [2]:
executable_path = {'executable_path': r'Resources\chromedriver.exe'}

browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [3]:
mars_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(mars_url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')

news_title = soup.find_all('div', class_='content_title')[1].text
news_p = soup.find_all('div', class_='article_teaser_body')[1].text


print("Title: ", news_title)
print("-----------------------------------------------------------------------------")
print("Para: ", news_p)

Title:  NASA's Ingenuity Mars Helicopter Recharges Its Batteries in Flight
-----------------------------------------------------------------------------
Para:  Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.

### JPL Mars Space Images - Featured Image

In [5]:
jpl_main_url = "https://www.jpl.nasa.gov"

In [6]:
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)

jpl_html = browser.html
jpl_soup = bs(jpl_html, 'html.parser')

In [7]:
# path = jpl_soup.find('article', class_="carousel_item")['style'].replace("background-image: url('",'').replace("""');""","")
# print(path)


path = jpl_soup.find('div', class_="carousel_items").article['style']
# path = jpl_soup.find('article', class_="carousel_item")['style']
print(path)

background-image: url('/spaceimages/images/wallpaper/PIA17896-1920x1200.jpg');

In [8]:
full_length_path = len(path)
x = len("background-image: url('")
y = full_length_path - len("');")

image_path = jpl_soup.find('div', class_="carousel_items").article['style'][x:y]
print(image_path)

/spaceimages/images/wallpaper/PIA17896-1920x1200.jpg

In [9]:
featured_image_url = jpl_main_url + image_path

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17896-1920x1200.jpg

### Mars Facts

In [10]:
Facts_url = "https://space-facts.com/mars/"

tables = pd.read_html(Facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
df = tables[2]
df.columns = ['Description', 'Mars']
df

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
# Use Pandas to convert the data to a HTML table string
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Mars</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [14]:
main_url = "https://astrogeology.usgs.gov/"

hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [15]:
browser.visit(hemis_url)

hemis_html = browser.html

hemis_soup = bs(hemis_html, 'html.parser')

In [16]:
hemis_home = hemis_soup.find('div', class_='collapsible results')
all_hemis = hemis_home.find_all('div', class_='item')

hemis_image_urls = []

# Iterate through all four hemisphere boxes
for each in all_hemis:
    
    hemisphere = each.find('div', class_="description")
    
    title = hemisphere.h3.text
    hemi_link = hemisphere.a["href"]  
    
    browser.visit(main_url + hemi_link)
    
    each_hemi_html = browser.html
    each_soup = bs(each_hemi_html, 'html.parser')
    
    img_url = each_soup.find('img', class_="wide-image")['src']
     
    
    url_dict = {}
    url_dict["title"] = title
    url_dict["img_url"] = img_url
    
    hemis_image_urls.append(url_dict)
    
print("hemisphere_image_urls: ", hemis_image_urls)

hemisphere_image_urls:  [{'title': 'Cerberus Hemisphere Enhanced', 'img_url': '/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': '/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': '/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': '/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]